.git
.gitignore
.gcloudignore
.dockerignore
**/node_modules
**/dist
**/.next
**/android
**/ios
**/.expo
**/.eas
**/.turbo
**/.env
**/.env.*
!.env.example
**/*.log
**/*.pem
**/*.jks
builds
expo
expo-modules-core
expo-modules-core-copy
vector-icons
coverage
tmp
.agents
.codex
apps/mobile/credentials
apps/mobile/credentials.json
apps/mobile/google-services.json
